@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-poppins: 'Poppins', sans-serif;
  --color-primary: #094a7a;
  --color-accent: #e4ae69;
}
